.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.back-link {
  color: white !important;
  
}

.back-link-btn {
  width: 90% !important;
  
}

.back-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.beer-pic {
  width: 100px
}

body {
  font-family: 'MyFont' !important;
  font-weight: bolder;
}

h1, h2, h3, h4, h5, .navbar-brand {
  font-family: 'Headers' !important;
}

.cocktailThumb {
  width: 75px !important;
  border-radius: 10% !important;
}

.list-group-item {
  text-align: center;
}

.foodImg {
  margin-top: 10px !important;
  width: 100px !important;
  border-radius: 10% !important;
}

.recipe-link {
  color: white !important;
} 

.recipe-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipeBtn {
  width: 100% !important;
  margin-bottom: 0em !important;
}

.card-body {
  width: 100% !important;
}

.letter-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drinkTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}


add-new-beer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drink-ingredients {
  margin-top: 10px;
  text-align: center;
}

.drink-instructions {
  text-align: center;
}

add-beer-form {
  width: 100%;
}

.item-of-the-day {
  text-align: center;
  margin-top: 10px !important;
}

.homeCard {
  border: none !important;
  
}

.dailyBtn {
  background: orange !important;
  border: none !important;
}

.drink-img {
  width: 200px;
  border-radius: 10%;
  
}

.drinkRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.RandoHome {
  color: white !important;
  background-color: orange !important;
  height: 36px !important;
  border-radius: 10px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-link {
  color: gray !important;
}

 .header-link:hover {
   color: orange !important
 }

 .item-of-the-day-name {
   font-size: 1.5em !important;
 }

 .beerList {
   color: grey !important;
 }

 .beerList:hover {
   animation: all;
   transition: 0.3s;
   color: orange !important;
   text-decoration: underline 1px orange !important;
 }

 .beer-details {
   text-align: center;
 }

 .letter-selector-btn {
   background: none !important;
   border: none !important;
   margin: 0.5em !important;
   padding: 0em !important
 }

 .submit-btn {
   background: none !important;
   border: none !important;
 }

 .submit-btn:hover {
  color: orange !important;
  text-decoration: underline 1px orange !important;
  border-bottom: 1px orange !important;
 }

 .cocktailSearch {
   border-top: none !important;
   border-left: none !important;
   border-right: none !important;
   text-align: center !important;
 }